<div class="flex flex-col gap-y-3">
  <h2 class="text-lg font-extramedium">Quick Actions</h2>
  <div class="flex items-center gap-x-2">
    <%= link_to workouts_path, class: "flex-1 bg-violet-200/60 hover:bg-violet-300/60 dark:bg-purple-900 dark:hover:bg-purple-800 rounded-2xl p-3 shadow-md" do %>
      <div class="flex flex-col items-center gap-y-2">
        <%= inline_svg_tag "icons/dumbbell.svg", class: "h-6 w-6 text-violet-500 dark:text-violet-400" %>
        <span class="font-display text-xs tracking-wide dark:text-white/95">Exercises</span>
      </div>
    <% end %>

    <%= link_to workouts_path(view: 'calendar'), class: "flex-1 bg-violet-200/60 hover:bg-violet-300/60 dark:bg-purple-900 dark:hover:bg-purple-800 rounded-2xl p-3 shadow-md" do %>
      <div class="flex flex-col items-center gap-y-2">
        <%= inline_svg_tag "icons/calendar.svg", class: "h-6 w-6 text-violet-500 dark:text-violet-400" %>
        <span class="font-display text-xs tracking-wide dark:text-white/95">Calendar</span>
      </div>
    <% end %>

    <%= link_to workouts_path, class: "flex-1 bg-violet-200/60 hover:bg-violet-300/60 dark:bg-purple-900 dark:hover:bg-purple-800 rounded-2xl p-3 shadow-md" do %>
      <div class="flex flex-col items-center gap-y-2">
        <%= inline_svg_tag "icons/chart-no-axes-combined.svg", class: "h-6 w-6 text-violet-500 dark:text-violet-400" %>
        <span class="font-display text-xs tracking-wide dark:text-white/95">Progress</span>
      </div>
    <% end %>
  </div>
</div>