<div class="flex flex-col gap-y-3">
  <div class="flex items-center justify-between">
    <h2 class="text-lg font-extramedium">Stats</h2>
    <%= link_to dashboard_path, class: "flex items-center gap-x-1 text-sm text-primary hover:text-primary-hover font-medium hover:underline" do %>
      View All
      <%= inline_svg_tag "icons/chevron-right.svg", class: "h-4 w-4" %>
    <% end %>
  </div>

  <div class="grid grid-cols-2 gap-3">

    <%= render "dashboard/stats_card",
               title: "Workouts",
               subtitle: "All time",
               icon: "dumbbell.svg",
               value: @workout_count,
               label: "sessions"
    %>

    <%= render "dashboard/stats_card",
               title: "Workout Streak",
               subtitle: "Keep it going!",
               icon: "flame.svg",
               value: @workout_streak,
               label: "days"
    %>

    <%= render "dashboard/stats_card",
               title: "Tonnage Lifted",
               subtitle: "All time",
               icon: "dumbbell.svg",
               value: number_with_delimiter(abbreviate_weight(format_weight(@total_volume))),
               label: "lbs"
    %>

    <%= render "dashboard/stats_card",
               title: "Favorite Exercise",
               subtitle: @most_used_exercise[:name] || "N/A",
               icon: "dumbbell.svg",
               value: @most_used_exercise[:total_count] || "N/A",
               label: "times"
    %>

  </div>
</div>