<div class="max-w-2xl mx-auto mb-6">
  <div class="flex flex-col gap-y-4">

    <div class="flex items-center justify-between mb-4">
      <div class="flex flex-col">
        <h1 class="text-2xl font-extramedium">Dashboard</h1>
        <h2 class="text-sm text-muted"><%= Time.current.strftime("%A, %b %d") %></h2>
      </div>
      <%= link_to workout_start_path, class: "md:hidden btn btn-primary btn-icon rounded-full p-2.5 hover:scale-110 active:scale-95" do %>
        <%= inline_svg_tag "icons/plus.svg", class: "h-5 w-5" %>
      <% end %>
      <%= link_to "New Workout", workout_start_path, class: "hidden md:inline-block btn btn-primary" %>
    </div>

    <%= render "dashboard/quick_actions" %>

    <%= render "dashboard/stats" %>

    <div class="mt-1"></div>

    <%= render "dashboard/recent_workouts" %>
  </div>

</div> 