<div id="preferences-list" class="mt-4 flex flex-col gap-y-4" data-controller="theme">
  <%= render 'preference', icon: "icons/globe.svg", label: "Language", value: "English" %>
  <%= render 'preference', icon: "icons/bell.svg", label: "Notifications", value: "Disabled" %>

  <% content_for :theme_preference do %>
    <%= render 'preference', icon: "icons/moon.svg", label: "Theme", value: "", data_attributes: { theme_target: "text" } %>
  <% end %>

  <%= render "shared/bottom_sheet", trigger: :theme_preference, title: "Select Theme" do %>
    <%= render 'shared/option_list', controller: 'theme', options: [
      { value: 'light', label: 'Light', icon: 'icons/sun.svg', action: 'click->theme#selectLight' },
      { value: 'dark', label: 'Dark', icon: 'icons/moon.svg', action: 'click->theme#selectDark' },
      { value: 'system', label: 'System', icon: 'icons/sun-moon.svg', action: 'click->theme#selectSystem' }
    ] %>
  <% end %>
</div>