<div class="max-w-lg mx-auto w-full">
  <div class="flex items-center gap-x-1">
    <%= render 'shared/buttons/back_button', path: profile_path %>
    <h1 class="text-2xl font-extramedium">Edit Profile</h1>
  </div>

  <%= form_with(model: @user, url: profile_path, method: :patch, local: true) do |form| %>
    <%#= render 'avatar_edit' %>

    <div class="mt-6">
      <span class="text-sm block text-muted">Personal Details</span>
    </div>

    <div class="mt-4">
      <%= form.label :name, "Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
      <%= form_field_error(@user, :name) %>
    </div>

    <div class="mt-4">
      <%= form.label :email, "Email", class: "form-label" %>
      <%= form.email_field :email, class: "form-input" %>
      <%= form_field_error(@user, :email) %>
    </div>

    <div class="mt-6">
      <span class="text-sm block text-muted mb-4">Password</span>
      <%= link_to edit_user_registration_path do %>
        <%= render "profiles/preference",
                   icon: "icons/key.svg",
                   label: "Change Password" %>
      <% end %>
    </div>

    <div class="mt-6">
      <span class="text-sm block text-muted mb-4">Other</span>
      <%= link_to user_registration_path(@user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete, class: "w-full hover:text-red-500"  do %>
        <%= render "profiles/preference",
                   icon: "icons/trash.svg",
                   label: "Delete Account" %>
      <% end %>
    </div>

    <div class="mt-8 flex flex-col gap-y-4 sm:flex-row sm:gap-x-4 sm:items-end sm:flex-row-reverse">
      <%= form.submit "Save Changes", class: "btn btn-primary w-full" %>
      <%= link_to "Cancel", profile_path, class: "btn btn-tertiary w-full text-center" %>
    </div>
  <% end %>

</div>