<%# locals: ( workout: ) %>

<div class="relative overflow-y-auto h-full min-h-screen bg-body">
  <%= form_with model: workout, url: workout_path(workout), data: { turbo: false } do |f| %>
    <%= f.hidden_field :status, value: :completed %>

    <%= render "workouts/complete_workout_header", form: f %>

    <div class="main-container max-w-2xl">
      <div class="flex flex-col gap-y-4">
        <%= render 'shared/clearable_input' do %>
          <%= f.text_field :name, placeholder: "Workout title", class: "form-input-borderless font-medium pr-8", data: { clearable_input_target: "input", action: "input->clearable-input#changed" } %>
        <% end %>

        <div class="flex items-center gap-x-4">
          <div class="flex-1 flex flex-col gap-y-2">
            <%= f.label :duration_seconds, "Duration", class: "form-label" %>
            <div class="flex items-center">
              <%= f.select :duration_seconds,
                           options_for_select(duration_options, workout.duration_seconds_rounded_to_nearest_minute),
                           {}, class: "bg-transparent text-primary cursor-pointer appearance-none w-auto" %>
            </div>
          </div>

          <div class="flex-1 flex flex-col gap-y-2">
            <label class="form-label">Exercises</label>
            <div class=""><%= workout.total_exercises %></div>
          </div>

          <div class="flex-1 flex flex-col gap-y-2">
            <label class="form-label">Sets</label>
            <div class=""><%= workout.total_sets %></div>
          </div>
        </div>

        <div class="flex items-center gap-x-4">
          <div class="flex flex-col gap-y-2">
            <%= f.label :start_time, class: "form-label" %>
            <%= f.datetime_field :start_time, class: "form-input w-full", include_seconds: false %>
          </div>
        </div>

        <div class="flex flex-col gap-y-2">
          <%= f.label :notes, class: "form-label" %>
          <%= f.text_area :notes, rows: 4, class: "form-input", placeholder: "Add any notes about your workout..." %>
        </div>

        <div class="flex items-center justify-center">
          <%= render "layouts/active_workout_indicator/discard_workout_dialog", workout: @workout, text: "Discard Workout", font_size: "base" %>
        </div>

      </div>
    </div>
  <% end %>
</div>