<div class="">
  <div class="flex flex-col gap-y-2">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <%= render 'shared/buttons/back_button' %>
        <h1 class="text-2xl font-extramedium"><%= @workout.name %> <%= render_sequence_number(@workout) %></h1>
      </div>
      <% if @workout.in_progress? %>
        <div class="flex items-center gap-x-2" data-controller="workout-timer" data-workout-timer-start-value="<%= @workout.start_time.to_i %>">
          <span class="text-sm text-display text-muted">Duration:</span>
          <%= render "workouts/workout_timer", workout: @workout %>
        </div>
      <% end %>
    </div>

    <% if @workout.completed? && @workout.start_time.present? %>
      <div class="flex flex-col sm:flex-row sm:items-center gap-y-1 gap-x-2">
        <div class="text-gray-600 text-sm flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar w-4 h-4 mr-1">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
          </svg>
          <%= @workout.date.strftime("%b %d, %Y") %>
        </div>

        <div class="text-gray-600 text-sm flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-1 feather feather-clock">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>

          <%= format_time(@workout.start_time) %> - <%= format_time(@workout.end_time) %>
        </div>
      </div>
    <% end %>

    <% if @workout.notes.present? %>
      <p class="text-gray-600 text-sm">
        <%= @workout.notes %>
      </p>
    <% end %>
  </div>
</div>