<%# locals: ( exercise_log: ) %>

<div>
  <div class="flex justify-between items-center mb-4 mt-2">
    <div id="<%= dom_id(exercise_log.exercise) %>">
      <h5 class="font-medium"><%= exercise_log.name %></h5>
    </div>

    <%= render "shared/bottom_sheet" do %>
      <div class="space-y-2">
        <%= link_to routine_exercise_select_modal_path(mode: :replace, target_dom_id: dom_id(exercise_log.exercise)),
                    data: { turbo_method: :post, action: "click->bottom-sheet#close" },
                    class: "flex items-center gap-x-3 p-3 rounded-lg hover:bg-gray-100" do %>
          <%= inline_svg_tag "icons/rotate-cw.svg", class: "h-6 w-6" %>
          <span class="font-medium">Change exercise</span>
        <% end %>
        <%= render "routines/remove_exercise_dialog" %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <div class="grid grid-cols-12 mb-2">
      <label class="col-span-3 text-muted uppercase">set</label>
      <label class="col-span-3 text-muted uppercase">lbs</label>
      <label class="col-span-3 text-muted uppercase">reps</label>
    </div>

    <div id="<%= dom_id(exercise_log, :set_forms) %>">
      <%= render partial: "workouts/exercise_set_form", collection: exercise_log.sets, as: :set %>
    </div>

    <button type="button" data-action="nested-set-form#add" data-nested-set-form-target="target" class="mt-4 btn btn-icon btn-tertiary w-full">
      <%= inline_svg_tag "icons/plus.svg", class: "h-4 w-4" %>
      Add Set
    </button>

    <%= button_to workout_exercise_log_exercise_sets_path(exercise_log.workout, exercise_log),
                  # data: { turbo_method: :post, action: "click->nested-set-form#addSet" },
                  class: "mt-4 btn btn-icon btn-tertiary w-full" do %>
      <%= inline_svg_tag "icons/plus.svg", class: "h-4 w-4" %>
      Add Set
    <% end %>
  </div>
</div>