<%# locals: ( set: ) %>

<%= form_with(model: [set.exercise_log.workout, set.exercise_log, set], id: dom_id(set)) do |f| %>
  <div class="grid grid-cols-12">
    <%= f.number_field :set_number, min: 1, readonly: true, class: "form-input-tr col-span-3 number-to-text pointer-events-none" %>
    <%= f.number_field :weight, placeholder: '-', step: 0.1, min: 0, data: { action: "input->nested-set-form#onWeightChange" }, class: "form-input-tr col-span-3 number-to-text" %>
    <%= f.number_field :reps, placeholder: '-', min: 1, data: { action: "input->nested-set-form#onRepsChange" }, class: "form-input-tr col-span-3 number-to-text" %>

    <div class="col-span-3 w-full flex justify-end">
      <%= link_to workout_exercise_log_exercise_set_path(set.exercise_log.workout, set.exercise_log, set),
                    data: { turbo_method: :delete },
                    class: "p-1 text-red-500 hover:bg-red-100 hover:text-red-700 rounded-full" do %>
        <%= inline_svg('icons/x.svg', class: "h-5 w-5") %>
      <% end %>
    </div>
  </div>
<% end %>
