<%= form_with model: workout, html: {
  class: "flex flex-col gap-y-4 pb-24", # add bottom padding so content isn't hidden
  data: { controller: "nested-exercise-select-form", nested_exercise_select_form_wrapper_selector_value: ".nested-exercise-form-wrapper" }
} do |f| %>
  <% if workout.errors.any? %>
    <div class="bg-red-50 text-red-700 p-4 rounded mb-4">
      <h2 class="font-bold mb-2"><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being
        saved:</h2>
      <ul class="list-disc pl-5">
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <template data-nested-exercise-select-form-target="template">
    <% new_exercise = ExerciseLog.new %>
    <% new_exercise.sets.build %>
    <%= f.fields_for :exercise_logs, new_exercise, child_index: "NEW_RECORD" do |re_fields| %>
      <%= render "routines/routine_exercise_form", f: re_fields %>
    <% end %>
  </template>
<% end %>
