<%# locals: (routine:) %>

<div id="<%= dom_id(routine) %>"
     data-controller="card-link share-routine"
     class="bg-surface-secondary rounded-lg shadow p-4 hover:shadow-md hover:cursor-pointer transition"
     data-action="click->card-link#navigate"
>
  <div class="flex items-center justify-between">
    <h3 class="font-semibold"><%= routine.name %></h3>

    <%= render "routine_card_menu", routine: %>
  </div>
  <div class="text-muted text-xs text-ellipsis line-clamp-2">
    <%= routine.exercises.map(&:name).join(", ") %>
  </div>


  <%= button_to start_workout_routine_path(routine.id), method: :post, data: { turbo: false, card_link_target: "button" }, class: "mt-2 btn btn-primary btn-icon w-full child" do %>
    <span>Start Routine</span>
  <% end %>

  <%= link_to "Show Routine", routine_path(routine), data: { card_link_target: "link" }, class: "hidden" %>
</div>