<%# locals: (routine:) %>

<div id="<%= dom_id(routine) %>" data-controller="share-routine" class="bg-surface-secondary rounded-lg shadow p-4 hover:shadow-md transition">
  <div class="flex items-center justify-between">
    <h3 class="font-semibold"><%= routine.name %></h3>

    <% trigger = "routine_card_bottom_sheet_#{routine.id}".to_sym %>
    <% content_for trigger do %>
      <button type="button" data-action="click->bottom-sheet#open" class="p-1 hover:bg-surface-secondary-hover rounded-lg">
        <%= inline_svg_tag "icons/more-horizontal.svg", class: "h-5 w-5" %>
      </button>
    <% end %>

    <%= render "shared/bottom_sheet", title: routine.name, trigger: trigger, fetch_url: share_text_routine_path(routine) do %>
      <div class="space-y-2">
        <div>
          <button type="button"
                  data-action="click->bottom-sheet#close click->share-routine#shareRoutine"
                  class="w-full flex items-center gap-x-3 p-3 rounded-lg hover:bg-body">
            <%= inline_svg_tag "icons/share.svg", class: "h-6 w-6" %>
            <span class="font-medium">Share Routine</span>
          </button>
          <%= turbo_frame_tag dom_id(routine, :share_text), class: "hidden", data: { share_routine_target: "shareText" } %>
        </div>
        <%= link_to new_duplicate_routine_path(routine), class: "flex items-center gap-x-3 p-3 rounded-lg hover:bg-body" do %>
          <%= inline_svg_tag "icons/copy.svg", class: "h-6 w-6" %>
          <span class="font-medium">Duplicate Routine</span>
        <% end %>
        <%= link_to edit_routine_path(routine), class: "flex items-center gap-x-3 p-3 rounded-lg hover:bg-body" do %>
          <%= inline_svg_tag "icons/edit.svg", class: "h-6 w-6" %>
          <span class="font-medium">Edit Routine</span>
        <% end %>
        <%= render "delete_routine_dialog", routine: %>
      </div>
    <% end %>
  </div>
  <div class="text-gray-700 text-xs text-ellipsis line-clamp-2">
    <%= routine.exercises.map(&:name).join(", ") %>
  </div>


  <%= button_to start_workout_routine_path(routine.id), method: :post, data: { turbo: false }, class: "mt-2 btn btn-primary btn-icon w-full" do %>
    <span>Start Routine</span>
  <% end %>


</div>