<%# locals: ( routine: ) -%>

<% trigger = "routine_card_bottom_sheet_#{routine.id}".to_sym %>

<% content_for trigger do %>
  <button type="button" data-action="click->bottom-sheet#open" class="p-1 hover:bg-surface-secondary-hover rounded-lg child">
    <%= inline_svg_tag "icons/more-horizontal.svg", class: "h-5 w-5" %>
  </button>
<% end %>
<%= render "shared/bottom_sheet",
           title: routine.name,
           trigger: trigger,
           data_attributes: { card_link_target: "sheet" },
           fetch_url: share_text_routine_path(routine) do %>
  <div class="space-y-2">
    <div>
      <%= render "shared/bottom_sheet_item", options: {
        label: "Share Routine",
        icon: "icons/share.svg",
        action: "click->share-routine#shareRoutine click->bottom-sheet#close"
      } %>
      <%= turbo_frame_tag dom_id(routine, :share_text), class: "hidden", data: { share_routine_target: "shareText" } %>
    </div>

    <%= render "shared/bottom_sheet_item", options: {
      label: "Duplicate Routine",
      icon: "icons/copy.svg",
      path: new_duplicate_routine_path(routine)
    } %>

    <%= render "shared/bottom_sheet_item", options: {
      label: "Edit Routine",
      icon: "icons/edit.svg",
      path: edit_routine_path(routine)
    } %>

    <%= render "delete_routine_dialog", routine: %>
  </div>
<% end %>