<div class="bg-surface-secondary rounded-lg shadow p-4 hover:shadow-md transition">
  <div class="flex justify-between items-start mb-2">
    <div class="flex flex-col">
      <h3 class="font-medium text-lg text-primary hover:text-primary-hover">
        <%= link_to workout.name, workout_path(workout) %>
        <%= render_sequence_number(workout, font_size: "text-sm") %>
      </h3>
      <span class="text-sm text-muted"><%= workout.date.strftime("%b %d, %Y") %></span>
    </div>
    <%= render "workouts/workout_card_menu", workout: %>
  </div>

  <div class="mt-3 grid grid-cols-3 gap-2 text-center text-sm">
    <div class="bg-surface p-2 rounded-lg">
      <p class="text-muted text-xs">Exercises</p>
      <p class="font-medium"><%= workout.total_exercises %></p>
    </div>
    <div class="bg-surface p-2 rounded-lg">
      <p class="text-muted text-xs">Sets</p>
      <p class="font-medium"><%= workout.total_sets %></p>
    </div>
    <div class="bg-surface p-2 rounded-lg">
      <p class="text-muted text-xs">Duration</p>
      <p class="font-medium"><%= format_duration(workout.duration_minutes) %></p>
    </div>
  </div>
</div>