<div id="<%= dom_id workout %>">
  <% if workout.user != current_user %>
    <p class="my-5">
      <strong class="block font-medium mb-1">User:</strong>
      <%= workout.user.display_name %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= workout.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Workout type:</strong>
    <%= workout.workout_type.name %>
  </p>

  <p class="my-5 hidden">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= workout.duration %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", user_workout_path(current_user, workout), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_user_workout_path(current_user, workout), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
