<% content_for :title, "Editing workout" %>

<%= render MobileHeaderComponent.new(title: "#{@workout.name} #{render_sequence_number(@workout)}",
                                     back_href: back_path) do |component| %>
  <% component.with_action do %>
    <% if @workout.in_progress? %>
      <div class="flex items-center gap-x-2" data-controller="workout-timer" data-workout-timer-start-value="<%= @workout.start_time.to_i %>">
        <%= inline_svg_tag "icons/timer.svg", class: "w-5 h-5" %>
        <%= render "workouts/workout_timer", workout: @workout %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="max-w-2xl mx-auto mb-6">
  <%#= render 'edit_header' %>

  <% if @workout.in_progress? %>
    <%= render 'workouts/autosave_form', workout: @workout %>
  <% else %>
    <%= render 'workouts/form', workout: @workout %>
  <% end %>

  <hr class="my-6 -mx-4"/>

  <% unless @workout.in_progress? %>
    <div class="flex items-center justify-center">
      <%= link_to workout_path(@workout), class: "btn btn-icon btn-green w-full sm:max-w-64" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1.5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"/>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"/>
        </svg>
        View Complete Summary
      <% end %>
    </div>
  <% end %>

  <% if @workout.in_progress? %>
    <div class="flex items-center gap-x-2">
      <div class="flex-1">
        <%= render "layouts/active_workout_indicator/discard_workout_dialog", workout: @workout, trigger_classes: "btn btn-icon btn-tertiary text-danger w-full" %>
      </div>
      <div class="flex-1">
        <%#= render "workouts/complete_workout_button", workout: @workout %>
        <%= link_to complete_workout_path(@workout), data: { turbo_stream: true }, class: "btn btn-icon btn-tertiary text-primary w-full" do %>
          <%= inline_svg "icons/check.svg", class: "h-4 w-4" %>
          Finish
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<%# Modal container %>
<%= turbo_frame_tag "page_modal" %>
