<% content_for :title, "Editing workout" %>

<div class="max-w-2xl mx-auto">
  <%# Header with workout name and status %>
  <%= render 'edit_header' %>

  <hr class="my-4 -mx-4 border-gray-300"/>

  <% if @workout.in_progress? %>
    <%= render 'workouts/autosave_form', workout: @workout %>
  <% else %>
    <%= render 'workouts/form', workout: @workout %>
  <% end %>

  <hr class="mt-2 mb-4 -mx-4 border-gray-300"/>

  <% unless @workout.in_progress? %>
    <div class="flex items-center justify-center">
      <%= link_to workout_path(@workout), class: "btn btn-icon btn-green w-full sm:max-w-64" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1.5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"/>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"/>
        </svg>
        View Complete Summary
      <% end %>
    </div>
  <% end %>

  <% if @workout.in_progress? %>
    <%= form_for @workout, url: workout_path(@workout), method: :patch, html: { class: "flex items-center justify-center" } do |f| %>
      <%= f.hidden_field :status, value: "completed" %>
      <%= button_tag type: 'submit', class: "btn btn-green w-full sm:max-w-64" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4 mr-1.5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
        <span>Complete Workout</span>
      <% end %>
    <% end %>
  <% end %>
</div>


<%# Modal container %>
<%= turbo_frame_tag "modal" %>
