<% content_for :title, "Editing workout" %>

<div class="max-w-4xl mx-auto px-4 py-6">
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-6">
    <%# Workout Details Form %>
    <div class="lg:col-span-2">
      <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-lg font-semibold mb-4">Workout Details</h2>
        <%= render "form", workout: @workout %>
      </div>
    </div>

    <%# Exercise Logging Section %>
    <div class="lg:col-span-3">
      <div class="col-span-2 bg-white rounded-lg shadow p-6">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold">Exercises</h2>
        </div>

        <div id="exercise-logs">
          <%= render 'exercise_logs' %>
        </div>

        <div id="add-exercise-button">
          <%= render 'add_exercise' %>
        </div>


      </div>
      <div class="mt-4 text-center">
        <% if @workout.in_progress? %>
          <%= form_for @workout, url: workout_path(@workout), method: :patch do |f| %>
            <%= f.hidden_field :status, value: "completed" %>
            <%= f.submit "Complete Workout", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "View Complete Workout Summary", workout_path(@workout), class: "text-indigo-600 hover:text-indigo-800" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Modal container %>
<%= turbo_frame_tag "modal" %>
