<% content_for :title, "Editing workout" %>

<div class="max-w-4xl mx-auto px-4 py-6">
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-6">
    <%# Workout Details Form %>
    <div class="lg:col-span-2">
      <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-lg font-semibold mb-4">Workout Details</h2>
        <%= render "form", workout: @workout %>
      </div>
    </div>

    <%# Exercise Logging Section %>
    <div class="lg:col-span-3">
      <div class="col-span-2 bg-white rounded-lg shadow p-6">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold">Exercises</h2>
        </div>

        <div id="exercise-logs">
          <% if @exercise_logs.any? %>
            <% @exercise_logs.each do |log| %>
              <%= render log %>
            <% end %>
            <div class="flex items-center justify-center">
              <%= link_to "Add Exercise", new_workout_exercise_log_path(@workout),
                          data: { turbo_frame: "modal", turbo_stream: true },
                          class: "btn btn-primary" %>
            </div>
          <% else %>
            <p class="text-gray-500 text-center py-4 flex flex-col items-center justify-center gap-y-2">
              No exercises added yet.
              <%= link_to "Add your first exercise", new_workout_exercise_log_path(@workout),
                          data: { turbo_frame: "modal", turbo_stream: true },
                          class: "btn btn-secondary" %>
            </p>
          <% end %>
        </div>


      </div>
      <div class="mt-4 text-center">
        <% if @workout.in_progress? %>

          <%= link_to "Finish Workout", finish_workout_path(@workout), method: :put,
                      class: "btn btn-primary" %>
        <% else %>
          <%= link_to "View Complete Workout Summary", workout_path(@workout), class: "text-indigo-600 hover:text-indigo-800" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Modal container %>
<%= turbo_frame_tag "modal" %>
