<% content_for :title, "Editing workout" %>

<div class="max-w-4xl mx-auto">
  <%# Header with workout name and status %>
  <div class="">
    <div class="flex flex-col gap-y-2">
      <div class="flex items-center">
        <%= render 'shared/back_button', path: workout_path(@workout) %>
        <h1 class="text-2xl font-bold"><%= @workout.name %> <%= render_sequence_number(@workout) %></h1>
      </div>

      <% if @workout.in_progress? %>
        <div class="flex flex-col sm:flex-row sm:items-center gap-2 mt-1">
          <div class="px-2 py-1 bg-blue-100 text-blue-700 rounded-md inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <span class="font-medium">In Progress</span>
          </div>

          <div class="text-gray-600 text-sm flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Started at: <%= format_time(@workout.start_time) %>
          </div>

          <div class="text-gray-600 text-sm flex items-center" data-controller="workout-timer" data-workout-timer-start-value="<%= @workout.start_time.to_i %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="space-x-1">
              Duration: <span data-workout-timer-target="display">00:00:00</span>
            </div>
          </div>
        </div>
      <% end %>

      <% if @workout.notes.present? %>
        <p class="text-gray-600 text-sm">
          <%= @workout.notes %>
        </p>
      <% end %>
    </div>
  </div>

  <hr class="my-4 border-gray-300"/>

  <div>
    <%# Exercise Logging Section %>
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-medium">Exercises</h2>
    </div>

    <div id="exercise-logs" class="space-y-4">
      <%= render 'exercise_logs' %>
    </div>

    <div id="add-exercise-button" class="mt-4">
      <%= render 'add_exercise' %>
    </div>
  </div>

  <p class="my-1 text-center">or</p>


  <% unless @workout.in_progress? %>
    <div class="flex items-center justify-center">
      <%= link_to workout_path(@workout), class: "btn btn-icon btn-green w-full sm:max-w-64" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1.5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"/>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"/>
        </svg>
        View Complete Summary
      <% end %>
    </div>
  <% end %>

  <% if @workout.in_progress? %>
    <%= form_for @workout, url: workout_path(@workout), method: :patch, html: { class: "flex items-center justify-center" } do |f| %>
      <%= f.hidden_field :status, value: "completed" %>
      <%= button_tag type: 'submit', class: "btn btn-green w-full sm:max-w-64" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4 mr-1.5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
        <span>Complete Workout</span>
      <% end %>
    <% end %>
  <% end %>
</div>


<%# Modal container %>
<%= turbo_frame_tag "modal" %>
