<% content_for :title, "New workout" %>

<div class="max-w-2xl mx-auto">
  <div class="flex flex-col gap-y-4">
    <h3 class="font-semibold text-xl">Quick Start</h3>
    <%= button_to workouts_path, method: :get, class: "btn btn-icon btn-tertiary w-full" do %>
      <%= inline_svg_tag "icons/plus.svg", class: "h-4 w-4" %>
      <span>Start Empty Workout</span>
    <% end %>

    <h3 class="font-semibold text-xl">Programs & Routines</h3>
    <div class="grid grid-cols-2 items-center gap-x-4">

      <%= link_to root_path, class: "btn btn-icon btn-tertiary flex-1" do %>
        <%= inline_svg_tag "icons/book.svg", class: "h-4 w-4" %>
        <span>New Program</span>
      <% end %>
      <%= link_to new_routine_path, class: 'w-full btn btn-tertiary btn-icon flex-1' do %>
        <%= inline_svg_tag "icons/clipboard.svg", class: "h-4 w-4" %>
        <span>New Routine</span>
      <% end %>
    </div>

    <h3 class="font-semibold text-xl"> General Routines (<%= @routines.size %>)</h3>

    <%= render partial: "workouts/routine_card", collection: @routines, as: :routine %>
  </div>
</div>