<% content_for :title, "Workout" %>

<div class="max-w-2xl mx-auto">
  <div class="flex flex-col gap-y-4 sm:gap-y-6">
    <h2 class="text-xl font-extramedium">Quick Start</h2>
    <%= button_to workouts_path, method: :post, params: { workout: { name: "New Workout" } }, data: { turbo: false }, class: "btn btn-icon btn-tertiary w-full" do %>
      <%= inline_svg_tag "icons/plus.svg", class: "h-4 w-4" %>
      <span>Start Empty Workout</span>
    <% end %>

    <h2 class="text-xl font-extramedium">Programs & Routines</h2>
    <div class="grid grid-cols-2 items-center gap-x-4">

      <%= link_to root_path, class: "btn btn-icon btn-tertiary flex-1" do %>
        <%= inline_svg_tag "icons/book.svg", class: "h-4 w-4" %>
        <span>New Program</span>
      <% end %>
      <%= link_to new_routine_path, class: 'w-full btn btn-tertiary btn-icon flex-1' do %>
        <%= inline_svg_tag "icons/clipboard.svg", class: "h-4 w-4" %>
        <span>New Routine</span>
      <% end %>
    </div>

    <h2 id="general-routines-count" class="text-xl font-extramedium"> General Routines (<%= @routines.size %>)</h2>

    <%= render partial: "workouts/routine_card", collection: @routines, as: :routine %>
  </div>
</div>