<%# locals: ( f: ) %>

<div class="nested-exercise-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="flex justify-between items-center mb-4 mt-2">
    <div id="<%= f.object.exercise.present? ? dom_id(f.object.exercise) : "__exercise_dom_id__" %>">
      <div id="<%= f.object.exercise.present? ? dom_id(f.object.exercise, :header) : "__exercise_dom_id__-exercise-name" %>">
        <% if f.object.exercise.present? %>
          <h5 class="font-medium"><%= f.object.exercise.name %></h5>
        <% end %>
      </div>
      <%= f.hidden_field :exercise_id, data: { nested_exercise_select_form_target: "exerciseFormField" } %>
      <%= f.hidden_field :position, data: { nested_exercise_select_form_target: "positionField" } %>
    </div>

    <%= render "shared/bottom_sheet" do %>
      <div class="space-y-2">
        <%= link_to routine_exercise_select_modal_path(mode: :replace, target_dom_id: f.object.exercise.present? ? dom_id(f.object.exercise) : "__exercise_dom_id__"),
                    data: { turbo_method: :post, action: "click->bottom-sheet#close" },
                    class: "flex items-center gap-x-3 p-3 rounded-lg hover:bg-gray-100" do %>
          <%= inline_svg_tag "icons/rotate-cw.svg", class: "h-6 w-6" %>
          <span class="font-medium">Change exercise</span>
        <% end %>
        <%= render "remove_exercise_dialog" %>
      </div>
    <% end %>
  </div>

  <div class="mt-4" data-controller="nested-set-form" data-nested-set-form-wrapper-selector-value=".sets-wrapper">
    <div class="grid grid-cols-12 mb-2">
      <label class="col-span-3 text-muted uppercase">set</label>
      <label class="col-span-3 text-muted uppercase">lbs</label>
      <label class="col-span-3 text-muted uppercase">reps</label>
    </div>
    <%= f.fields_for :sets do |set_fields| %>
      <%= render "routine_sets/form", f: set_fields %>
    <% end %>
    <!--    TODO: move nested form target into above fields_for, may need to see what happens when an exercise has no sets, will above render target at all?-->
    <template data-nested-set-form-target="template">
      <% new_set = ExerciseSet.new %>
      <%= f.fields_for :sets, new_set, child_index: "NEW_SET_RECORD" do |set_fields| %>
        <%= render "routine_sets/form", f: set_fields %>
      <% end %>
    </template>
    <button type="button" data-action="nested-set-form#add" data-nested-set-form-target="target" class="mt-4 btn btn-icon btn-tertiary w-full">
      <%= inline_svg_tag "icons/plus.svg", class: "h-4 w-4" %>
      Add Set
    </button>
  </div>

  <%= f.hidden_field :_destroy %>
</div>m