<%= form_with model: @routine, html: {
  class: "flex flex-col gap-y-4 pb-24", # add bottom padding so content isn't hidden
  data: { controller: "nested-exercise-select-form", nested_exercise_select_form_wrapper_selector_value: ".nested-form-wrapper" }
} do |f| %>
  <% if @routine.errors.any? %>
    <div class="mb-4 p-4 border border-red-500 bg-red-100 rounded">
      <h2 class="text-red-700 font-semibold mb-2">Please fix the following errors:</h2>
      <ul class="list-disc list-inside text-red-700">
        <% @routine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Routine Title", class: "form-input" %>

  <template data-nested-exercise-select-form-target="template">
    <% new_re = RoutineExercise.new %>
    <% new_re.routine_sets.build %>
    <%= f.fields_for :routine_exercises, new_re, child_index: "NEW_RECORD" do |re_fields| %>
      <%= render "routines/routine_exercise_form", f: re_fields %>
    <% end %>
  </template>

  <% if @routine.routine_exercises.any? %>
    <%= f.fields_for :routine_exercises do |re_fields| %>
      <%= render "routines/routine_exercise_form", f: re_fields %>
    <% end %>
  <% end %>

  <div data-nested-exercise-select-form-target="target" class="hidden"></div>

  <%= link_to "Add Exercise", routine_exercise_select_modal_path, data: { turbo_method: :post }, class: "btn btn-primary" %>

  <%# for displaying exercise selector %>
  <%= turbo_frame_tag "modal" %>

  <!-- FIXED BOTTOM BAR -->
  <div class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 shadow-lg flex justify-between md:justify-end md:gap-x-5 items-center px-4 py-3 md:pr-32 z-50">
    <%= link_to "Cancel", new_workout_path, class: "link link-primary" %>
    <%= f.submit 'Save', class: "btn btn-primary md:px-6" %>
  </div>
<% end %>