<%= form_with model: @routine, html: {
  class: "flex flex-col gap-y-4",
  data: { controller: "nested-exercise-select-form", nested_exercise_select_form_wrapper_selector_value: ".nested-form-wrapper" }
} do |f| %>
  <% if @routine.errors.any? %>
    <div class="mb-4 p-4 border border-red-500 bg-red-100 rounded">
      <h2 class="text-red-700 font-semibold mb-2">Please fix the following errors:</h2>
      <ul class="list-disc list-inside text-red-700">
        <% @routine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Routine Title", class: "form-input" %>

  <template data-nested-exercise-select-form-target="template">
    <%= f.fields_for :routine_exercises, RoutineExercise.new, child_index: "NEW_RECORD" do |re_fields| %>
      <%= render "routines/routine_exercise_form", f: re_fields %>
    <% end %>
  </template>

  <% if @routine.routine_exercises.any? %>
    <%= f.fields_for :routine_exercises do |re_fields| %>
      <%= render "routines/routine_exercise_form", f: re_fields %>
    <% end %>
  <% end %>

  <div data-nested-exercise-select-form-target="target"></div>

  <%= link_to "Add Exercise", routine_exercise_select_modal_path, data: { turbo_method: :post }, class: "btn btn-primary" %>

  <%= f.submit 'Save', class: "btn btn-primary" %>

  <%# for displaying exercise selector %>
  <%= turbo_frame_tag "modal" %>
<% end %>