<%# locals: ( f: ) %>

<div class="mb-4 p-2 border rounded bg-gray-50">
  <%= f.label :set_number, "Set #", class: "form-label" %>
  <%= f.number_field :set_number, min: 1, class: "form-input" %>

  <%= f.label :reps, "Suggested Reps", class: "form-label" %>
  <%= f.number_field :reps, min: 1, class: "form-input" %>

  <%= f.label :rest_seconds, "Rest Seconds", class: "form-label" %>
  <%= f.number_field :rest_seconds, min: 0, class: "form-input" %>

  <%= f.hidden_field :_destroy %>
  <button type="button" class="remove-set-btn px-2 py-1 bg-red-500 text-white rounded ml-2" data-action="click->nested-form#remove">Remove Set</button>
</div>

