<%# locals: (exercises: ) %>

<div data-controller="exercise-selector"
     data-exercise-selector-mode-value="<%= @mode %>"
     data-exercise-selector-target-dom-id-value="<%= @target_dom_id %>"
     data-exercise-selector-target-id-value="<%= @target_id %>"
     data-action="exercise:add->nested-exercise-select-form#addExercises exercise:replace->nested-exercise-select-form#replaceExercise"
     class="relative overflow-y-auto h-full min-h-screen bg-gray-100">
  <%= render 'routine_exercises/exercise_select_header' %>

  <div id="exercise-select-list" class="grid grid-cols-1 sm:grid-cols-2 gap-4 pt-4 max-w-2xl lg:max-w-3xl mx-auto">
    <%= render 'exercise_select_list', exercises: %>
  </div>

  <div class="fixed bottom-0 left-0 right-0 py-5 px-2.5 z-40">
    <div class="max-w-2xl mx-auto">
      <button data-action="exercise-selector#addSelected modal#close"
              data-exercise-selector-target="addButton"
              type="button"
              class="hidden btn btn-primary w-full shadow-lg"
              title="Add selected exercise(s)">
        <%= @mode == "replace" ? "Select" : "Add" %> <span data-exercise-selector-target="count">0 Exercise(s)</span>
      </button>
    </div>
  </div>
</div>
