<%# locals: (exercises: ) %>

<% exercises.each do |exercise| %>
  <div class="flex items-center justify-between">
  <div data-action="click->exercise-selector#toggle"
       data-exercise-id="<%= exercise.id %>"
       data-exercise-name="<%= exercise.name %>"
       data-exercise-selector-target="item"
       class="py-2 hover:opacity-50 transition-[padding] duration-200 cursor-pointer">
    <div class="flex items-center justify-between gap-x-4 relative">
      <div class="flex items-center w-full">
        <div id="exercise-<%= exercise.id %>-image" class="h-12 w-12 bg-surface-secondary rounded-md flex items-center justify-center mr-4 overflow-hidden">
          <% if false %>
            <%= image_tag exercise.image.variant(resize_to_fill: [ 48, 48 ]), alt: exercise.name, class: "object-cover h-12 w-12" %>
          <% else %>
            <%= inline_svg_tag "icons/triangle.svg", class: "h-6 w-6 text-muted" %>
          <% end %>
        </div>
        <div>
          <h3 class="text-lg font-semibold mb-1"><%= exercise.name %></h3>
          <p class="text-sm text-muted"><%= exercise.primary_category.name.titleize %></p>
        </div>
      </div>
    </div>
  </div>
    <a href="https://www.youtube.com/results?search_query=<%= exercise.name %>" type="button" target="_blank">
      <%= inline_svg_tag "icons/info.svg", class: "h-6 w-6" %>
    </a>
  </div>

  <hr class="border-t border-surface-secondary my-1" />
<% end %>

<% if exercises.empty? %>
  <div class="p-6 pt-12 text-center text-gray-500 flex flex-col items-center justify-center w-full md:col-span-2">
    <p class="text-lg">No exercises found.</p>
    <p class="mt-2">Try adjusting your search or filters to find what you're looking for.</p>
  </div>
<% end %>