<nav class="bg-top-nav hidden md:block shadow">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-3">
      <div class="flex items-center space-x-4">
        <%= link_to "Iron Logs", root_path, class: "text-xl font-bold" %>

        <% if user_signed_in? %>
          <div class="md:flex space-x-4">
            <%= link_to "Dashboard", dashboard_path, class: "hover:text-indigo-300" %>
            <%= link_to "Workout", workout_start_path, class: "hover:text-indigo-300" %>
          </div>
        <% end %>
      </div>

      <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
          <%= link_to "#{current_user.email}", profile_path, class: "hover:text-indigo-300" %>

          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-tertiary" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "hover:text-indigo-300" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "bg-indigo-700 px-3 py-1 rounded hover:bg-indigo-800" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
