<%# locals: ( title: "", cancel_text: "Cancel", id: "sticky-header", right_content: nil ) -%>

<div id="<%= id %>" class="z-50 shadow-md bg-body sticky top-0 w-full">
  <div class="max-w-2xl lg:max-w-4xl mx-auto flex items-center justify-between p-4">
    <button type="button" class="link" data-action="modal#close">
      <%= cancel_text %>
    </button>
    <h2 class="text-lg lg:text-2xl font-extramedium"><%= title %></h2>

    <% if right_content.present? %>
      <div>
        <%= right_content %>
      </div>
    <% else %>
      <div class="w-16"><!-- Placeholder for alignment --></div>
    <% end %>
  </div>

  <%= yield %>
</div>