<%# locals: ( workout:, font_size: "sm", text: "Discard", turbo: false ) -%>

<div data-controller="dialog" data-action="click->dialog#backdropClose">
  <dialog data-dialog-target="dialog" class="p-4 rounded-lg">
    <button type="button" class="absolute top-4 right-4 p-1 hover:bg-gray-200 rounded-lg" data-action="click->dialog#close">
      <%= inline_svg_tag "icons/x.svg", class: "h-6 w-6" %>
    </button>
    <h3 class="font-extramedium text-lg mb-4">Discard Workout</h3>
    <p class="mb-4">Are you sure you want to discard the workout in progress?</p>
    <div class="flex items-center justify-end gap-x-2">
      <button type="button" class="btn btn-tertiary" data-action="dialog#close" autofocus>Cancel</button>
      <%= button_to "Discard", workout_path(workout), method: :delete, data: { turbo: }, class: "btn btn-danger" %>
    </div>
  </dialog>
  <button type="button"
          data-action="dialog#open"
          class="rounded-xl text-sm px-3 py-1 flex items-center gap-x-2 hover:bg-body text-red-600 hover:text-red-800">
    <%= inline_svg_tag "icons/x.svg", class: "h-4 w-4" %>
    <span class="text-<%= font_size %>"><%= text %></span>
  </button>
</div>