<%= form_with url: exercises_path, method: :get, data: { controller: "search", search_target: "form", search_update_url_value: false, turbo_stream: true }, class: "relative w-full " do |f| %>
  <div class="flex gap-2 relative">
    <%= inline_svg("icons/search.svg", class: "absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400 z-50") %>
    <%= render 'shared/clearable_input' do %>
      <%= f.text_field :search,
                       value: params[:search],
                       placeholder: "Search exercises...",
                       autocomplete: :off,
                       data: { action: "search#onInput input->clearable-input#changed", search_target: "input", clearable_input_target: "input" },
                       class: "form-input pl-9 md:pl-10" %>
    <% end %>
  </div>

  <div class="grid grid-cols-2 gap-x-4 pt-4">
    <%= render 'exercises/equipment_filter', f %>

    <%= render 'exercises/category_filter', f %>
  </div>
<% end %>