<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= yield(:meta_description) || "Track your gym workouts, monitor your progress, and achieve your fitness goals with #{app_name}." %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Add Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="h-full flex flex-col bg-body">
    <%= render 'shared/navbar' %>

    <main class="main-container pb-20 md:pb-0">
      <%= render 'shared/flash' %>
      <%= yield %>

      <% if show_active_workout_indicator? %>
        <div class="lg:hidden h-20" aria-hidden="true"></div>
      <% end %>
    </main>

    <%= render 'shared/bottom_nav' %>

    <%= render 'shared/footer' if show_footer? %>

    <% if show_active_workout_indicator? %>
      <%= render "layouts/active_workout_indicator/active_workout_indicator", workout: current_user_active_workout %>
    <% end %>
  </body>
</html>
